# Звук
librosa

# Визуализация
tqdm
tensorboard
matplotlib

# Машинное обучение
torch
torchaudio
torchvision

faiss-cpu
fairseq; python_version < '3.11'
https://github.com/Politrees/PolTrain/releases/download/fixed-packages/fairseq-0.12.3-cp311-cp311-linux_x86_64.whl; python_version == '3.11'
