# Основные ML-фреймворки
numpy<2
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124

# Анализ и визуализация
librosa
matplotlib
tensorboard

# Вспомогательные утилиты
tqdm
omegaconf
faiss-cpu==1.7.3
