# Основные ML-фреймворки
numpy<2
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0

# Анализ и визуализация
librosa
matplotlib
tensorboard
tensorboardX

# Вспомогательные утилиты
tqdm
omegaconf
faiss-cpu==1.7.3
